* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans Caption", sans-serif;
}

.App {
  /* border: 1px dashed purple; */
  height: 100vh;
  /* width: 100vw; */
}

.login {
  color: white;
  background-color: #192647;
  width: 100vw;
  height: 5vh;
  float: right;
}
.title {
  color: white;
  background-color: #192647;
  text-align: center;
  height: 15vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #f7f7f7;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #f7f7f7;
  height: 10vh;
  overflow: hidden;
}

h1 {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
}

h2 {
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-size: 20px;
}

h3 {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  color: #192647;
}
p {
  margin: 0px;
}

form,
input,
textarea {
  font-size: 0.8rem;
}

.nav__topics {
  font-size: 18px;
  color: black;
}

.button__nav {
  color: #8b92a2;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 14px;
  font-size: 18px;
  text-transform: capitalize;
  padding: 8px;
}

.button__nav:hover {
  color: #fd7860;
  border: 1px solid #fd7860;
}

.filter {
  color: #192647;
  background-color: #f7f7f7;
}

.order {
  color: #192647;
}

.span__color {
  display: flex;
  flex: 1;
  align-items: flex-start;
  color: #fd7860;
  font-size: 10px;
  font-weight: bold;
}

.span__color-article {
  display: flex;
  flex: 1;
  align-items: flex-start;
  color: #fd7860;
  font-size: 14px;
  font-weight: bold;
}

.span__title {
  color: #192647;
}

.articles__date {
  display: flex;
  flex: 2;
  align-items: flex-start;
  justify-content: flex-start;
  color: #8b92a2;
  font-size: 10px;
}

.calendar {
  margin-right: 5px;
}
.span__date-article {
  display: flex;
  flex: 2;
  align-items: flex-end;
  justify-content: flex-end;
  color: #8b92a2;
  font-size: 14px;
}
.span__vote {
  color: #8b92a2;
  font-size: 10px;
  float: right;
}

.articles__vote {
  display: flex;
  flex: 1;
  color: #8b92a2;
  font-size: 10px;
}

button {
  font-family: "Roboto";
}

.button__circle {
  border-radius: 50%;
  background: none;
}

.button__user {
  border: 1px solid white;
  border-radius: 4px;
  background-color: white;
  color: #3c2e53;
  float: right;
  margin: 5px 5px 0px 0px;
  font-size: 14px;
}
.button__topic {
  color: #fd7860;
  background-color: rgba(253, 120, 96, 0.1);
  border: 1px solid #f7f7f7;
  border-radius: 34px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.button__add-comment {
  color: #fd7860;
  background-color: white;
  border: 1px solid #fd7860;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
}

.button__post-comment {
  color: white;
  background-color: #fd7860;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 5px;
}

#comment-username {
  width: 50%;
  margin-bottom: 1rem;
}

#commentBody {
  width: 100%;
  margin-bottom: 1rem;
}

.articles {
  display: flex;
  flex-direction: column;
  /* border: 2px solid green; */
  background-color: #f7f7f7;
  height: 100vh;
  /* width: 100vw; */
  padding: 20px;
}

.articles__list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.articles__footer {
  display: flex;
}

.container__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 125px;
  background-color: #fafafa;
  padding: 5px;
}

.container__info {
  display: flex;
  flex-direction: row;
  flex: 2;
  height: 125px;
  padding: 5px;
}

.articles__card {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #060929;
  background-color: #ffffff;
  /* border: 1px solid #2c2c5881; */
  border-radius: 10px;
  box-shadow: 0px 4px 20px #a5b0d033;
  width: 90%;
  height: 150px;
  margin-left: 5%;
  margin-bottom: 20px;
  text-align: left;
  font-size: 12px;
}

.article__header {
  display: flex;
}

.article__img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.article__body {
  text-align: justify;
  margin: 10px 0px 10px 0px;
}

.article__action {
  display: flex;
  flex-direction: column;
}

.votes {
  display: flex;
  align-items: flex-start;
  color: #8b92a2;
  font-size: 16px;
  margin-bottom: 10px;
}

.button__thumb-up {
  border: none;
  background-color: none;
  margin-left: 10px;
}
.button__thumb-down {
  border: none;
  background-color: none;
  margin-left: 10px;
}

.comment-bubble {
  margin-right: 10px;
}

.button__comments {
  display: flex;
  align-items: flex-start;
  color: #8b92a2;
  font-size: 16px;
  border: none;
  background-color: #f7f7f7;
  padding: 0px;
  margin-bottom: 10px;
}

.comments__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f7f7f7;
}

@media only screen and (min-width: 760px) {
  .App {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 300px auto;
    grid-template-rows: 150px auto;
    grid-template-areas:
      "header"
      "nav"
      "body"; */
  }
}
